{% extends "base.html" %} {% block content %}
<!-- Titles -->
<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-primary">
          <p class="title">Engine</p>
          <p class="subtitle">{{ humid }}</p>
        </article>
        <article class="tile is-child notification is-warning">
          <p class="title">Temperature</p>
          <p class="subtitle">Bottom tile</p>
        </article>
      </div>
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-primary">
          <p class="title">Fuel</p>
          <p class="subtitle">{{ fuel }}</p>
        </article>
        <article class="tile is-child notification is-warning">
          <p class="title">Battery Level</p>
          <p class="subtitle">{{ battery }}</p>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-danger">
        <p class="title">Air Conditioning & Heating</p>
        <p class="subtitle">Aligned with the right tile</p>
        <div class="content">
          <!-- Content -->
        </div>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-success">
      <div class="content">
        <p class="title">Tall tile</p>
        <p class="subtitle">With even more content</p>
        <div class="content">
          <!-- Content -->
        </div>
      </div>
    </article>
  </div>
</div>
<!-- Start the car engine (Motor)
  Control the air conditioning and heating. (Humidity Sensor)
  Monitor the car battery level, fuel, and engine temperature -->
{% endblock %}
